<div th:fragment="left-menu" th:remove="tag"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div class="left side-menu">
		<button type="button"
			class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
			<i class="ti-close"></i>
		</button>
		<!-- LOGO -->
		<div class="topbar-left" style="overflow: auto; height: 100%">
			<div class="text-center">
				<a th:href="@{/}" class="logo"><img
					th:src="@{/client/images/logo.png}" width="80%" /></a>
			</div>
			<div id="sidebar-menu">
				<ul>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
						th:href="@{/admin/users}" class="waves-effect"> <i
							class="ti-list"></i> <span th:text=#{admin.management.user.title}>
						</span>
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
						th:href="@{/admin/users}" class="waves-effect"> <i
							class="ti-list"></i> <span th:text=#{admin.management.role.tile}>
						</span>
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
						th:href="@{/admin/users}" class="waves-effect"> <i
							class="ti-list"></i> <span th:text=#{admin.management.function.title}>
						</span>
					</a></li>
					
					<li><a class="waves-effect" th:href="@{/erm/dang-xuat}"><i
							class="ti-power-off"></i><span th:text="#{text.logout}"></span></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</div>