<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Mua Bán Thẻ 24h.com</title>
<meta name="keywords"
	content="mua bán thẻ cào, mua ban the cao, đổi thẻ ra atm, đổi thẻ ra tiền mặt, thẻ cào online, thẻ cào điện thoại, muabanthe24h" />
<meta name="description"
	content="Cổng giao dịch thẻ cào tận gốc uy tín, giá tốt: Chiết khẩu siêu hấp dẫn - Thời gian cà thẻ siêu nhanh - Phí mua bán cực kì ưu đãi." />
<meta property="og:site_name" content="MUABANTHE24H.COM - Cổng giao dịch thẻ cào tận gốc uy tín, giá tốt" />
<meta property="og:rich_attachment" content="true" />
<meta property="article:publisher" content="http://muabanthe24h.com/" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://muabanthe24h.com/" />
<meta property="og:title" content="MUABANTHE24H.COM - Cổng giao dịch thẻ cào tận gốc uy tín, giá tốt" />
<meta property="og:description"
	content="Cổng giao dịch thẻ cào tận gốc uy tín, giá tốt: Chiết khẩu siêu hấp dẫn - Thời gian cà thẻ siêu nhanh - Phí mua bán cực kì ưu đãi." />
<meta property="og:image:url" content="https://chipo.vn/static/web/images/fbchipo.jpg" />
<meta property="og:image:width" content="720" />
<meta property="og:image:height" content="378" />
<link rel="canonical" href="http://muabanthe24h.com/" />
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="shortcut icon" th:href="@{/client/images/favicon.png}" type="image/png" />
<link rel="stylesheet" type="text/css" th:href="@{/client/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/client/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/client/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/client/css/responsive.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/client/css/style-mmenu.css}" />
<meta name="robots" content="index, archive, follow, noodp" />
<meta name="googlebot" content="index,archive,follow,noodp" />
<meta name="msnbot" content="all,index,follow" />
</head>
<body>
	<div class="box-all">
		<header>
			<div th:replace="client/common/header::header"></div>
		</header>
		<main class="main">
		<div layout:fragment="content">empty</div>
		</main>
		<div th:replace="client/common/footer::footer"></div>
	</div>
	<script type="text/javascript" th:src="@{/client/js/jquery-2.2.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/client/js/bootstrap.min.js}"></script>
</body>
</html>