<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="#{menu.home.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="box">
			<div class="title-bg bg-tit2">
				<h2 class="text-36">
					Vì sao bạn nên mua bán thẻ cào <br>qua MuaBanThe24h.Com?<br> <a th:href="@{/dang-ky}"><button type="button">Đăng ký ngay</button></a>
				</h2>
				<span id="check"></span>
			</div>
		</div>
		<div class="box ">
			<div class="title-df">
				<h2 class="text-transform text-24" style="padding: 28px 0 23px;">Giao dịch uy tín và tốc độ</h2>
			</div>
			<div class="container">
				<div class="service-all">
					<ul>
						<li>
							<div class="service-detail">
								<div class="sd-img">
									<span id="sd1"></span>
								</div>
								<div class="sd-text">
									<label>CHIẾT KHẤU THẺ<br> SIÊU HẤP DẪN
									</label>
									<p>Luôn 75 - 80%</p>
								</div>
							</div>
						</li>
						<li>
							<div class="service-detail">
								<div class="sd-img">
									<span id="sd2"></span>
								</div>
								<div class="sd-text">
									<label>THỜI GIAN CÀ THẺ<br> SIÊU NHANH
									</label>
									<p>Từ 2 - 5 phút</p>
								</div>
							</div>
						</li>
						<li>
							<div class="service-detail">
								<div class="sd-img">
									<span id="sd3"></span>
								</div>
								<div class="sd-text">
									<label>CAM KẾT GIAO DỊCH <br> UY TÍN
									</label>
									<p>Hoàn tiền 100% nếu nghi ngờ</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box ">
			<div class="title-bg bg-tit3">
				<h2 class="text-24 text-transform">Chiết khấu cà thẻ ưu đãi và linh hoạt</h2>
			</div>
			<div class="container">
				<div class="cost-all">
					<ul>
						<li>
							<div class="cost-detail">
								<div class="cd-img">
									<span id="cd1"></span>
								</div>
								<div class="cd-text">
									<label>phí nhập hộ thấp</label>
									<p>Chỉ 2% tiền hàng</p>
								</div>
							</div>
						</li>
						<li>
							<div class="cost-detail">
								<div class="cd-img">
									<span id="cd2"></span>
								</div>
								<div class="cd-text">
									<label>đặt cọc tiền hàng ít</label>
									<p>Chỉ 70% tiền hàng</p>
								</div>
							</div>
						</li>
						<li>
							<div class="cost-detail">
								<div class="cd-img">
									<span id="cd3"></span>
								</div>
								<div class="cd-text">
									<label>cam kết đặt đúng hàng</label>
									<p>Đúng link và theo yêu cầu</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box ">
			<div class="title-df">
				<h2 class="text-24 text-transform">Hệ thống quản lý thông minh</h2>
			</div>
			<div class="container">
				<div class="system-all">
					<ul>
						<li>
							<div class="system-detail">
								<div class="sys-img">
									<span id="sys1"></span>
								</div>
								<div class="sys-text">
									<label>Quản lý giao dịch Online<br>thuận tiện
									</label>
								</div>
							</div>
						</li>
						<li>
							<div class="system-detail">
								<div class="sys-img">
									<span id="sys2"></span>
								</div>
								<div class="sys-text">
									<label>Hỗ trợ mạng lưới bán hàng<br>rộng khắp Mạng xã hội
									</label>
								</div>
							</div>
						</li>
						<li>
							<div class="system-detail">
								<div class="sys-img">
									<span id="sys3"></span>
								</div>
								<div class="sys-text">
									<label>Hỗ trợ dịch vụ xử lý thẻ cào<br>tiền nhanh tới tay người mua bán
									</label>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box ">
			<div class="title-bg bg_212">
				<h2 class="text-36" style="padding-top: 78px;">Quy trình mua bán qua MuaBanThe24h.Com</h2>
				<span id="check"></span>
			</div>
			<div class="container">
				<div class="procedure-all">
					<div class="procedure-detail">
						<div class="pd-img">
							<span id="pdi3"></span>
						</div>
						<div class="pd-text">
							<label>Bước 1:</label>
							<p>
								<b>Đăng ký</b> tài khoản<br>trên website
							</p>
						</div>
						<div class="line-step">
							<span class="line-step1"></span>
						</div>
					</div>
					<div class="procedure-detail">
						<div class="pd-img">
							<span id="pdi6"></span>
						</div>
						<div class="pd-text">
							<label>Bước 2:</label>
							<p>
								<b>Tạo yêu cầu</b><br>trên website MuaBanThe24h.Com
							</p>
						</div>
						<div class="line-step">
							<span class="line-step2"></span>
						</div>
					</div>
					<div class="procedure-detail">
						<div class="pd-img">
							<span id="pdi7"></span>
						</div>
						<div class="pd-text">
							<label>Bước 3:</label>
							<p>
								<b>Gửi thông tin</b><br>và chờ phản hồi
							</p>
						</div>
						<div class="line-step">
							<span class="line-step1"></span>
						</div>
					</div>
					<div class="procedure-detail">
						<div class="pd-img">
							<span id="pdi8"></span>
						</div>
						<div class="pd-text">
							<label>Bước 4:</label>
							<p>
								<b>Kiểm tra</b> mã thẻ cào<br>trên hệ thống
							</p>
						</div>
						<div class="line-step">
							<span class="line-step2"></span>
						</div>
					</div>
					<div class="procedure-detail">
						<div class="pd-img">
							<span id="pdi9"></span>
						</div>
						<div class="pd-text">
							<label>Bước 5:</label>
							<p>
								<b>Chuyển tiền</b> vào tài khoản hoặc<br>Gửi mã tới người mua
							</p>
						</div>
					</div>
				</div>
				<div class="ad-btn">
					<a href="@{/cau-hoi-thuong-gap}"><button type="button"
							class="text-bold">Tìm hiểu thêm</button></a> <a th:href="@{/dang-ky}"><button type="button" class="text-bold">Đăng ký ngay</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>