<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="#{user.add.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="box bg-sign-up padding ">
			<div class="sign-up">
				<div class="su-title">
					<h3 th:text="#{user.add.title}"></h3>
					<div class="radio"></div>
				</div>
				<div class="su-content">
					<form name="form" method="post" th:action="@{/dang-ky}" th:object="${user}">
						<ul>
							<li>
								<div class="form-group">
									<label class="control-label" th:text="#{user.name}"></label> <input th:placeholder="#{user.name.placeholder}" class="form-control"
										required="required" name="name" type="text" th:field="*{name}">

									<div class="help-block text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
										<span th:text="#{error.msg.empty.account.name}"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="control-label" th:text="#{user.username}"></label> <input required="required" placeholder="0989783215"
										class="form-control" name="username" type="tel" th:field="*{username}">
									<div class="help-block text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
										<span th:text="#{error.msg.empty.account.phone}"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="control-label" th:text="#{user.password}"></label> <input required="required" class="form-control"
										th:placeholder="#{error.msg.empty.account.password}" name="password" th:field="*{password}" type="password">
									<div class="help-block  text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
										<span th:text="#{error.msg.empty.account.password}"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="control-label">Nhập lại mật khẩu </label> <input required="required" class="form-control"
										placeholder="Nhập lại mật khẩu" name="repassword" th:field="*{repassword}" type="password">
									<div class="help-block text-danger" th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">
										<span>Mật khẩu phải trùng khớp</span>
									</div>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label>Nhập mã xác minh </label> <input name="captcha" th:field="*{captcha}" required="required" class="form-control"
										placeholder="Nhập mã xác nhận" type="text">
									<div class="capcha">
										<i class="fa fa-repeat"></i> <img src="https://chipo.vn/captcha/gen?id=1526224236234" alt="captcha" height="30">
									</div>
									<div class="help-block text-danger" th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}">
										<span>Mã xác nhận không được để trống</span>
									</div>
								</div>
							</li>
							<li th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}">
								<div class="alert alert-danger alert-dismissible fade in" style="margin-bottom: 0px; margin-top: 10px;">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									<p>(*) Mã xác nhận không chính xác</p>
								</div>
							</li>
						</ul>
						<div class="row">
							<div class="checkbox col-md-12">
								<label> <input required="required" type="checkbox"> Tôi đã đọc và đồng ý với các <a href="#" target="_blank">Quy
										định và Chính sách</a> của MuaBanThe24h.Com.
								</label>
							</div>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div class="row">
							<div class="col-md-12">
								<div class="btn-regis">
									<button type="submit" class="btn btn-danger">Đăng ký</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>